<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
    <title>Neomegha Registration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta property="og:title" content="forget">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <style>
	.screen-width {
		width:100%;
		margin-left:0;
	}
	@media only screen and (min-width: 1024px) {
		.screen-width {
			width:60%;
			margin-left:20%;
		}
	}
		
	</style>
</head>
<body>

<div class="container screen-width">
  	<div style="background-color:#ee9c34 !important;margin:0;text-align:center;color:#fff;font-weight:300;font-size:28px;padding:1rem 0 0 0;font-family: 'Open Sans', sans-serif;height:18rem;">
		<div style="float:right;">
			<a href="https://www.twitter.com/pwc_in" name="https://www.twitter.com/pwc_in">
				<p style="cursor: pointer;width:2rem;height:32px;border-radius:32px;-webkit-border-radius: 32px;-moz-border-radius: 32px;background-color: #ffbf6e;	margin:0; text-align:center;float:left;margin-right:12px;">
					<img style="padding-bottom:8px;" src="https://s3.amazonaws.com/sampleimagesdemo/twitter.png" aria-hidden="true" alt="twitter" title="twitter" />
				</p>
			</a>
			
			<a href="https://www.facebook.com/PwCIndia" name="https://www.facebook.com/PwCIndia">
				<p style="cursor: pointer;width:2rem;height:32px;border-radius:32px;-webkit-border-radius: 32px;-moz-border-radius: 32px;background-color: #ffbf6e;	margin:0; text-align:center;float:left;margin-right:12px;">
					<img style="padding-bottom:8px;" src="https://s3.amazonaws.com/sampleimagesdemo/facebook.png" aria-hidden="true" alt="facebook" title="facebook" />
				</p>
			</a>
		   
			<a href="http://www.linkedin.com/company/pwc-india" name="http://www.linkedin.com/company/pwc-india">
				<p style="cursor: pointer;width:2rem;height:32px;border-radius:32px;-webkit-border-radius: 32px;-moz-border-radius: 32px;background-color: #ffbf6e;	margin:0; text-align:center;float:left;margin-right:12px;">
					<img style="padding-bottom:8px;" src="https://s3.amazonaws.com/sampleimagesdemo/in.png" aria-hidden="true" alt="linkedin" title="linkedin" />
				</p>
			</a>
		</div>
		<img src="https://s3.amazonaws.com/sampleimagesdemo/neomegha-logo.png" style="float:left;padding-left:1rem;">
		<div align="center" style="margin-top:5rem;">
			<img src ="https://s3.amazonaws.com/sampleimagesdemo/vector-smart-object.png">
			<p style="font-size: 16px; color: #fefefe;font-family: 'Open Sans', sans-serif; font-weight: 400;margin:0px;padding-top:1rem;">HELLO </p>
			<p style="font-weight: 700;color: #fefefe;font-size: 25px;font-family: 'Open Sans', sans-serif;margin:0px;">GREETINGS FROM NEOMEGHA!</p>
		</div>
	</div>
	<div style="border: 1px solid whitesmoke; padding: 2rem; box-shadow: 0 2px 9px 1px rgba(51, 51, 51, 0.4);">
		<div style="font-family: 'Open Sans', sans-serif;">
			<p style="opacity:.99;color:#666;font-size:15px;font-weight:400;line-height:24px;text-align:justify;margin-left:1em;">Thank you for your interest in Neomegha. Your request is currently being processed. We will get in touch soon after processing your request. </p>
			<p style="opacity:.99;color:#666;font-size:15px;font-weight:400;line-height:24px;text-align:justify;margin-left:1em;">Meanwhile you can learn more about our product from the following links.</p>
		</div>
		<ul style="cursor: pointer;margin-left: -7px;color: #ee9c34;font-family: 'Open Sans', sans-serif;font-size: 15px;font-weight: 400;
		list-style-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAJBAMAAAD5iKAgAAAAAXNSR0IB2cksfwAAAB5QTFRFAAAA758w7pwz7pwz7pw07psz7psz7pwz7pwz758wzGxgUAAAAAp0Uk5TACCv7/+w8N/gEMCtne8AAAAxSURBVHicY2CAACFjRQYGRhMXZwEGVhcXlwAGNiBZACYboCKMKS5uAgwMoh2RDCQBABVBB/45O4l4AAAAAElFTkSuQmCC)">
			<li><a href="https://docs.snipcart.com/email-templates/forgot-password" name="https://docs.snipcart.com/email-templates/forgot-password" style="text-decoration: none; color: #ee9c34;cursor: pointer;">&nbsp;Overview</a></li>
			<li><a href="https://docs.snipcart.com/email-templates/forgot-password" name="https://docs.snipcart.com/email-templates/forgot-password" style="text-decoration: none; color: #ee9c34;cursor: pointer;">&nbsp;Use cases</a></li>
			<li><a href="https://docs.snipcart.com/email-templates/forgot-password" name="https://docs.snipcart.com/email-templates/forgot-password" style="text-decoration: none; color: #ee9c34;cursor: pointer;">&nbsp;FAQs</a></li>
			<li><a href="https://docs.snipcart.com/email-templates/forgot-password" name="https://docs.snipcart.com/email-templates/forgot-password" style="text-decoration: none; color: #ee9c34;cursor: pointer;">&nbsp;Pricing</a></li>
	   </ul>
		<div style="margin-bottom:20px ; margin-left:1em;">
			<p style="opacity:.99;color:#666;font-size:15px;font-weight:400;line-height:20px;margin:0;margin-bottom:10px;font-family: 'Open Sans', sans-serif;">Please <span style="color: #ee9c34 !important" ><a href="https://docs.snipcart.com/email-templates/forgot-password" name="https://docs.snipcart.com/email-templates/forgot-password" style="text-decoration: none; color: #ee9c34;cursor: pointer;"> Contact us </a> </span>in case of any difficulty.
		</div>
		<div style="margin-bottom:30px;margin-left:1em;">
			<p style="opacity:.99;color:#666;font-size:15px;font-weight:400;margin:0;margin-bottom:10px;font-family: 'Open Sans', sans-serif;">Cheers</p>
			<p style="opacity:.99;color:#666;font-size:15px;font-weight:400;margin:0;margin-bottom:10px;font-family: 'Open Sans', sans-serif;">Team Neomegha</p>
		</div>
		
		<div style="margin-bottom:20px;margin-left:1em;">
			<p style="opacity:.99;font-size:15px;font-weight:400;margin:0;margin-bottom:10px;font-family: 'Open Sans', sans-serif; color:om#ee9c34">
			<span  style="color :#ee9c34;cursor: pointer;"><a href="https://neomegha.com" name="https://neomegha.com" style="text-decoration: none; color: #ee9c34;cursor: pointer;">Home</a></span>&nbsp;&nbsp;&nbsp;
			<span style="color :#ee9c34;cursor: pointer; ">
			<a href="https://neomegha.com" name="https://neomegha.com" style="text-decoration: none; color: #ee9c34;cursor: pointer;">Help</a></span></p>
		</div>
	</div>
</div>

</body>
</html>
