<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
    <title>Welcome Mail</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta property="og:title" content="forget">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<style>
	    .screen-width {
		width:100%;
		margin-left:0;
    	}
    	@media only screen and (min-width: 1024px) {
    		.screen-width {
    			width:60%;
    			margin-left:20%;
    		}
    	}
	</style>
</head>
<body>
<div class="container screen-width">
  	<div style="background-color:#ee9c34 !important;margin:0;text-align:center;color:#fff;font-weight:300;font-size:30px;padding:1rem 0 0 0;font-family: 'Open Sans', sans-serif;height:18rem;">
				<div style="float:right;">
					<a href="https://www.twitter.com/pwc_in" name="https://www.twitter.com/pwc_in">
						<p style="cursor: pointer;width:2rem;height:32px;border-radius:32px;-webkit-border-radius: 32px;-moz-border-radius: 32px; background-color: #ffbf6e; margin:0; text-align:center; float:left; margin-right:12px;">
							<img style="padding-bottom:8px;" src="https://s3.amazonaws.com/sampleimagesdemo/twitter.png" aria-hidden="true" alt="twitter" title="twitter" />
						</p>
					</a>
					
					<a href="https://www.facebook.com/PwCIndia" name="https://www.facebook.com/PwCIndia">
						<p style="cursor: pointer;width:2rem;height:32px;border-radius:32px;-webkit-border-radius: 32px;-moz-border-radius: 32px; background-color: #ffbf6e; margin:0; text-align:center; float:left; margin-right:12px;">
							<img style="padding-bottom:8px;" src="https://s3.amazonaws.com/sampleimagesdemo/facebook.png" aria-hidden="true" alt="facebook" title="facebook" />
						</p>
					</a>
				   
					<a href="http://www.linkedin.com/company/pwc-india" name="http://www.linkedin.com/company/pwc-india">
						<p style="cursor: pointer;width:2rem;height:32px;border-radius:32px;-webkit-border-radius: 32px;-moz-border-radius: 32px; background-color: #ffbf6e; margin:0; text-align:center; float:left; margin-right:12px;">
							<img style="padding-bottom:8px;" src="https://s3.amazonaws.com/sampleimagesdemo/in.png" aria-hidden="true" alt="linkedin" title="linkedin" />
						</p>
					</a>
				</div>
				<img src="https://s3.amazonaws.com/sampleimagesdemo/neomegha-logo.png" style="float:left;padding-left:1rem;">
			<div align="center" style="margin-top:5rem;">
				<img src ="https://s3.amazonaws.com/sampleimagesdemo/hand-shake.png">
				<p style="font-size: 1rem; color: #fefefe;font-family: 'Open Sans', sans-serif; font-weight: 400;margin:0px;padding-top:1rem;">HELLO </p>
				<p style="font-weight: 700;color: #fefefe;font-size: 25px;font-family: 'Open Sans', sans-serif;margin:0px;">WELCOME ABOARD!</p>
			</div>
		</div>
		<div style="border: 1px solid whitesmoke; padding: 2rem; box-shadow: 0 2px 9px 1px rgba(51, 51, 51, 0.4);">
			<div style="font-family: 'Open Sans', sans-serif;margin-left:1em;">
				<p style="opacity:.99; color:#666666; font-size:15px; font-weight:400; line-height:24px;text-align:justify;">We are excited to have you with us.<br>Are you ready to kick-start your first micro-service based application development?</p>
				<p style="opacity:.99; color:#666666; font-size:15px; font-weight:400; line-height:24px;text-align:justify;">We have gathered best in class methods and practices to bring you one of the most secure, efficient and fun way to build cloud native applications.</p>
				<p style="opacity:.99; color:#666666; font-size:15px; font-weight:400; line-height:24px;text-align:justify;">Use the following credentials to begin your development from day ONE.</p>
				<p style="font-weight: 700; line-height: 24px; color:#666666; font-size: 14px; margin-bottom:5px;">Email: <%=email%></p>
				<p style="font-weight: 700; line-height: 24px; color:#666666; font-size: 14px; margin-bottom:5px;">Password: <%=password%></p>
				<p style="font-weight: 700; line-height: 24px; color:#666666; font-size: 14px; margin-bottom:20px;">Note: We recommend that you change your password post login.</p>
			</div>
			<div style="margin: 0 0 20px 0;margin-left:1em;">
				<a href="<%=login_url%>" name="<%=login_url%>" style="width:50%;height:44px;border-radius: 2px;background-color: #ee9c34;	color:white; display:inline-block;line-height:45px;	text-decoration:none; text-align:center;font-family: 'Open Sans', sans-serif;">LOGIN</a>
			</div>

			<div style="margin-bottom:20px;margin-left:1em;">
				<p style="opacity:.99;color:#666;font-size:15px;font-weight:400;line-height:20px;margin:0;margin-bottom:10px;font-family: 'Open Sans', sans-serif;">Click<span style="color: #ee9c34 !important" ><a href="https://docs.snipcart.com/email-templates/forgot-password" name="https://docs.snipcart.com/email-templates/forgot-password" style="text-decoration: none; color: #ee9c34;cursor: pointer;"> here </a> </span>for help in creating your new project
			</div>
			<div style="margin-bottom:30px;margin-left:1em;">
				<p style="opacity:.99;color:#666;font-size:15px;font-weight:400;font-family: 'Open Sans', sans-serif;">Cheers</p>
				<p style="opacity:.99;color:#666;font-size:15px;font-weight:400;margin:0;margin-bottom:10px;font-family: 'Open Sans', sans-serif;">Team Neomegha</p>
			</div>
			
			<div style="margin-bottom:20px;margin-left:1em;">
				<p style="opacity:.99;font-size:15px;font-weight:400;margin:0;margin-bottom:10px;font-family: 'Open Sans', sans-serif; color:om#ee9c34">
				<span  style="color :#ee9c34;cursor: pointer;"><a href="https://neomegha.com" name="https://neomegha.com" style="text-decoration: none; color: #ee9c34;cursor: pointer;">Home</a></span>&nbsp;&nbsp;&nbsp;
				<span style="color :#ee9c34;cursor: pointer; ">
				<a href="https://neomegha.com" name="https://neomegha.com" style="text-decoration: none; color: #ee9c34;cursor: pointer;">Help</a></span></p>
			</div>
		</div>
	</div>

</body>
</html>
